@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  animation: eyo infinite 1s;
  cursor: url(./aa.png),auto;
  background: url(https://e1.pxfuel.com/desktop-wallpaper/148/638/desktop-wallpaper-the-worlds-ugliest-woman-funny-part-2-1283x887-for-your-mobile-tablet.jpg);
}

.head {
  animation: ey 3s infinite;

}

.ybel {
  animation: ybel 5s infinite;
}

@keyframes ybel {
  0%{
top: 30vh;
left: 11vw;
  }
  10% {
top: 50vh;
left: 23vw;
  }
  20%{
top: 25vh;
left: 70vw;
  }
  30%{
top: 70vh;
left: 40vw;
  }
  40%{
top: 55vh;
left: 90vw;
  }
  50%{
top: 86vh;
left: 60vw;
  }
  60%{
top: 60vh;
left: 10vw;
  }
  70%{
top: 10vh;
left: 55vw;
  }
  80%{
top: 5vh;
left: 70vw;
  }
  90%{
top: 40vh;
left: 20vw;
  }
}

@keyframes eyo {
  0% {
    background: url(https://c.files.bbci.co.uk/1836F/production/_86838199_misonsereap.jpg);
  }
  80% {
    background: url(https://qph.cf2.quoracdn.net/main-qimg-cd1ae49d249b2f9c086853fcf1de370d-lq);
  }
}

@keyframes ey {
  0% {
   transform: rotate(190deg); 
  }
  50% {
    transform: rotate(10deg);
  }
}

.me {


  background: url(./components//f.png);
  background-size: contain;
}






::-webkit-scrollbar {
  background-color: white;
  color: white;
  width: 0px;
}

