@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(./components//hair.jpg);
cursor:url(./Adane.png), ;

}

.me {


  background: url(./components//f.png);
  background-size: contain;
}

::-webkit-scrollbar {
  background-color: white;
  color: white;
  width: 0px;
}

